@font-face {
    font-family: "painter";
    src: url("Painter_PERSONAL_USE_ONLY.ttf");
}





body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    font-family: "BioRhyme";
}



.card {
    border: 3px solid black;
    border-radius: 5px;
    height: 520px;
    width: 370px;
    display: flex;
    justify-content: center;
    background-color: cornsilk;
/*    position: relative;*/
    
}


#border-container {
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    margin: 40px;
    width: 100%;
    position: relative;
}


#card-container {
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    margin: 10px 10px 70px;
    width: 100%;
    position: relative;
/*    background-image: url("https://via.placeholder.com/264x354");*/
}

.baseball-img {
    height: 100px;
    position: absolute;
}

.info-bar {
/*    display: flex;*/
    margin-top: 310px;
    width: 100%;
}

#name-position {
/*    width: 100%;*/
    margin-top: 45px;
    margin-left: 100px;
}

#name {
    text-align: center;
    font-size: 15px;
    font-family: "BioRhyme";
}

#position {
    text-align: center;
    font-size: 13px;
}


.baseball-container{
    position: relative;
}




#team {
    position: absolute;
    top: 40px;
    left: 3px;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 17px;
    color: black;
    font-family: "painter";
}

#number {
    border-radius: 50%;
    border: 3px solid black;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}

