@font-face {
    font-family: "painter";
    src: url("Painter_PERSONAL_USE_ONLY.ttf");
}


#monster-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0px 400px;

}

#content {
     display: flex;
    justify-content: center;
    align-items: center;
    font-family: "BioRhyme";
    flex-direction: column;
}

#card {
    border: 3px solid black;
    border-radius: 5px;
    height: 520px;
    width: 370px;
    display: flex;
    justify-content: center;
    background-color: cornsilk;
}

#border-container {
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    margin: 40px;
    width: 100%;
    position: relative;
}

#card-container {
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    margin: 10px 10px 70px;
    width: 100%;
    position: relative;
}

.baseball-img {
    height: 100px;
    position: absolute;
}

.info-bar {
    margin-top: 310px;
    width: 100%;
}

#name-position {
    margin-top: 45px;
    margin-left: 100px;
}

#name {
    text-align: center;
    font-size: 15px;
    font-family: "BioRhyme";
}

#position {
    text-align: center;
    font-size: 13px;
}

.baseball-container{
    position: relative;
}

#team {
    position: absolute;
    top: 40px;
    left: 3px;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 17px;
    color: black;
    font-family: "painter";
}

#number {
    border-radius: 50%;
    border: 3px solid black;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}



/*********** FORM STYLING ************/

#button {
    margin-top: 20px;
}

.input-wrapper input {
/*    display: block;*/
       margin-top: 10px;
}

.form-input {
    flex-basis: 50%;
    margin-top: 10px;
    margin-right: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.description-input-wrapper {
    display: flex;
}

.main-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

p {
    margin: 10px 0px 0px;
}

.radio-container {
    margin-left: 50px;
}
